#main {
    display: flex;
}

#main-title{
    font-size: 45px;
}

.E-title{
    color: #5acb47;
}

#announce-button {
    width: 40%;
    height: 6.5vh;
    font-size: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #5acb47;
    cursor: pointer;
    margin-bottom: 20px;
}

#announce-button:hover {
    background-color: #8cfd7f;
}

#left-div {
    width: 50%;
    height: auto;
    padding: 25px 10px;
    font-size: 20px;
    margin-right: 50px;
    box-sizing: border-box;
    margin-top: -30px;
}

.title {
    text-align: left;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-size: 24px;
    width: 30%;
}

#incident-scrollable {
    overflow-y: auto;
    height: 65vh;
}

#left-div .horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#liste-Incident li {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    background-color: #5acb47;
    gap: 15px;
}

.adjust-button {
    width: 22%;
    height: 6.5vh;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #abf3a1;
    cursor: pointer;
}

.adjust-button:hover {
    background-color: #8cfd7f;
}

#liste-Incident li .adjust-button {
    margin-left: auto;
}

#liste-Incident li p {
    flex-grow: 1;
}

#right-div {
    width: 50%;
    height: 95%;
    padding: 10px;
    font-size: 20px;
    margin-top: 117px;
    border-left: 1px solid #000000; /* Ajout de la bordure gauche */
    margin-left: -40px; /* Décalage vers la gauche */
}


#incident-scrollable-right {
    overflow-y: auto;
    height: 65vh;
}

#liste-Incident-right li {
    display: flex;
    height: 63px;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #000000;
    background-color: #5acb47;
    gap: 15px;
}

#liste-Incident-right li p {
    flex-grow: 1;
}

#left-div .title {
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-size: 24px;
    width: 30%;
    border-bottom: 2px solid #000000; /* Modifier la bordure inférieure ici */
}

#liste-Incident-right li:empty {
    display: none;
}

