

#cash-desk-top, #cash-desk-mid, #cash-desk-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    z-index: 1;
}

#search-product-box{
    width: 35%;
    height: 40vh;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #0FD274;
    box-shadow: 0 0 10px #494949;
}

#products-list-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 40vh;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #0FD274;
    box-shadow: 0 0 10px #494949;
}

#products-list-price{
    display: flex;
    flex-direction: row;
    margin-left: 7vw;
}

#search-product-input{
    width: 65%;
    height: 4vh;
    font-size: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

#search-product-button{
    width: 20%;
    height: 4.5vh;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #494949;
    margin: 10px;

}

#search-product-button:hover{
    background-color: #f1e3a4;
    cursor: pointer;
}

#member-card-client-top, #cce-card-client-top{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#calculator{
    width: 25%;
    height: 40vh;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #0FD274;
    box-shadow: 0 0 10px #494949;


}

#pumps-station{
    width: 72%;
    height: 25vh;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #0FD274;
    box-shadow: 0 0 10px #494949;

}

#member-card-client{
    width: 25%;
    height: 25vh;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #0FD274;
    box-shadow: 0 0 10px #494949;

}
#id-member{
    width: 5vw;
    height: 5vh;
    margin-right: -2vw;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 10px #494949;
}

#id-cce{
    width: 5vw;
    height: 4vh;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 10px #494949;
}

#member-card-client-search{
    width: 5vw;
    height: 5vh;
    font-size: 18px;
    box-shadow: 0 0 10px #494949;
}
#cce-card-client-search{
    width: 3vw;
    height: 4vh;
    font-size: 14px;
    box-shadow: 0 0 10px #494949;
}

#payment-checkbox{
    display: flex;
    width: 35vw;
    justify-content: space-between;
    align-items: start;
    margin-right: 10px;

}



.checked{
    color: #0FD274;
}

#esp-input, #cb-input,#cce-input{
    width: 38%;
    height: 6vh;
    font-size: 20px;
    border-radius: 10px;
    background-color: #f1e3a4;
    box-shadow: 0 0 10px #494949;

}


#energy-card-client{
    width: 100%;
    height: 15vh;
    padding: 10px;
    font-size: 18px;


}

#energy-card-client-add {
    height: 15vh;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #494949;
    cursor: pointer;
}

#energy-card{
    display: flex;
    width: 45vw;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    background-color: #0FD274;
    box-shadow: 0 0 10px #494949;
    align-items: center;
    margin-bottom: 5px;


}


#validate{
    width: 40%;
    height: 12vh;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #0FD274;
    box-shadow: 0 0 10px #494949;


}



#calculator-screen-input{
    width: 80%;
    height: 5vh;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 9.5%;
    background-color: #ffffff;
    text-align: end;
}

#button-ok{
    width: 80%;
    height: 5vh;
    font-size: 20px;
    margin-top: -0.5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

#calculator-buttons{
    align-items: center;
    text-align: center;
}

.button-calculator {
    width: 23%;
    height: 5vh;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1vh;
    background-color: #ffffff;
}

.button-calculator:hover, #button-ok:hover {
    background-color: #f1e3a4;
    cursor: pointer;
}


#search-product-scrollable {
    overflow-y: auto;
    height: 27vh;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #0FD274;
    border-radius: 0.5em;

}

#products-list-scrollable {
    overflow-y: auto;
    height: 25vh;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #0FD274;
    border-radius: 0.5em;

}

#pumps-station-scrollable{
    overflow-y: auto;
    height: 16vh;
    margin-bottom: 10px;
    background-color: #0FD274;
    border-radius: 0.5em;
}

.pump-div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 0.5em;
}

.pump-name{
    font-size: 20px;
    color: #000000;
    display: block;
    background: #0FD274;
    padding: 5px;
    margin: 2px;

}

label{
    color: #000000;
    font-size: 19px;
}


input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

div > button{
    width: 70%;
    height: 4.5vh;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #494949;
    margin-left: 15%;
    cursor: pointer;
}

div > button:hover{
    background-color: #f1e3a4;
    cursor: pointer;
}


.add-product-button{
    width: 20%;
    height: 4.5vh;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #494949;
    margin: 2px;
    cursor: pointer;
}


.product-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 0.5em;
}

.div-namePrice{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
