#invoice-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#invoice-list-left, #invoice-list-right {
    width: 40vw;
    height: 40vh;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #0FD274;
    box-shadow: 0 0 10px #494949;

}


.invoice-list-scrollable, .ticket-list-scrollable{
    overflow-y: auto;
    height: 30vh;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 0.5em;

}

body > div > div > div > div > p{
    font-size: 18px;
    text-align: left;
font-weight: bold;
}

#ask-choose-invoice{
    margin-top: 10%;
    text-align: center;
    font-size: 25px;
}



#bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#bottom > button{
    margin-top: 2%;
    width: 12vw;
    height: 8vh;
    font-size: 22px;
    background-color: #0FD274;
    text-align: center;
    box-shadow: 0 0 10px #494949;
    border-radius: 10px;
}

#ticket-or-invoice-selected{
    display: none;
}

#ticket-or-invoice-selected.visible{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 84.5vw;
    height: 30vh;
    background: #0FD274;
    box-shadow: 0 0 10px #494949;
    margin-top: 10px;
}