#overview{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#overview-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    z-index: 1;
}

#overview-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#mid{
    display: block;
    justify-content: center;
    align-items: center;
    width: 2px;
    height: 80vh;
    background-color: #000000;

}

/*overview-left*/

#overview-left > p{
    font-size: 18px;
    text-align: center;
}



#products-list-box{
    width: 30vw;
    height: 40vh;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #0FD274;
}


#products-list-scrollable {
    overflow-y: auto;
    height: 25vh;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 0.5em;

}

#ask-payment-method{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
}


#ask-payment-method > button{
    width: 9vw;
    height:8vh;
    font-size: 20px;
    margin: 10px;
    background-color: #0FD274;
    text-align: center;
}



/*calculator*/

#calculator{
    width: 13vw;
    height: 30vh;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #0FD274;

}


#calculator-screen-input{
    width: 70%;
    height: 4vh;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 15%;
    background-color: #ffffff;
    text-align: end;
}

#button-ok{
    width: 70%;
    height: 4vh;
    font-size: 20px;
    margin-top: -0.5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

#calculator-buttons{
    align-items: center;
    text-align: center;
}

.button-calculator {
    width: 17%;
    height: 3vh;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1vh;
    background-color: #ffffff;
}

.button-calculator:hover, #button-ok:hover {
    background-color: #105408;
    cursor: pointer;
}



#ask-print-ticket > button{
    width: 9vw;
    height:8vh;
    font-size: 20px;
    margin: 10px;
    background-color: #0FD274;
    text-align: center;
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
    color: #0FD274;
    text-align: left;
}