* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}


/* Top bar */

#top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2fa243;
}

#top-right-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.button-top-bar{
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #0d5103;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.button-top-bar:hover{
    background-color: #5bb052;
    cursor: pointer;
}

svg:hover{
    cursor: pointer;
    stroke: #5bb052;
}


/* Navbar */

#navigation{
    justify-content: center;
    background-color: #108d25;
    padding: 20px;
    width: 95%;
    height: 100vh;
    

}

li{
    list-style: none;
    margin: 10px;
    list-style: none;
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

li:hover{
    color: hsl(61, 100%, 50%);
    cursor: pointer;
}


#erp{
    display: flex;
    justify-content: space-between;
    width: 99%;
    height: 90vh;
    position: fixed;
    
}

#navigation-div{
    min-height: 100vh;
}

#main{
    width:80%;
    height: 90%;
}
