* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}


/* Top bar */

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #ffffff 0%, #a4a4a4 100%);
    height: 100vh;
}


#top-right-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.button-top-bar{
    padding: 10px;
    margin: 10px;
    background-color: #0FD274;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    text-decoration: none;

}

#top-bar > svg{
    margin-left: 20px;
    stroke: #0FD274;
}


.button-top-bar:hover{
    background-color: #f1e3a4;
    cursor: pointer;
}


svg:hover{
    cursor: pointer;
    stroke: #0a6b29;
}

#menu{
    margin-left: 10px;
}


/* Navbar */

#navigation{
    justify-content: center;
    background-color: #0FD274;
    padding: 20px;
    width: 100%;
    height: 100vh

}

#navigation-div{
    margin-top:-0.5%;


}


li {
    list-style: none;
    margin: 10px;
}

li >a{
    margin: 10px;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

li > a:hover{
    color: #f1e3a4;
    cursor: pointer;
}

#erp{
    display: flex;
    justify-content: space-between;
    width: 99%;
    height: 90vh;
    position: fixed;

}
#main{
    position: absolute;
    z-index: 2;
    width:85%;
    height: 90%;
    margin-left: 7.5%;
}

#navigation ul ul {
    display: none; /* Cache les sous-listes par défaut */
}
#navigation ul li {
    position: relative;
}
#navigation ul ul.visible {
    display: block; /* Affiche la sous-liste lorsqu'elle a la classe "visible" */
}
#navigation ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0FD274;
    padding: 0;
}
#navigation ul ul li {
    border-bottom: 1px solid #ccc;
}
#navigation ul ul li:last-child {
    border-bottom: none;
}

#navigation ul ul li a {
    display: block;
    padding: 10px;
    color: #333;
    font-size: 16px;
    text-decoration: none;
    content: none;
}



/* Flèche stylisée pour les éléments de niveau principal */
#navigation > ul > li > a:after {
    content: '\25B6';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Change la flèche pour indiquer les sous-listes ouvertes */
#navigation > ul > li.open > a:after {
    transition: transform 0.2s ease; /* Transition de rotation de 0.5 seconde */
    transform: translateY(-50%) rotate(90deg);
}

#incident-dropdown {
    display: block;
    position: absolute;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1000;
}
#incident-dropdown a {
    padding: 8px 34px;
    text-decoration: none;
    display: block;
    color: #333;
}

#incident-dropdown a:hover {
    background-color: #8cfd7f;
}

#incident-dropdown a.incident {
    background-color: #f1e3a4; /* Couleur de fond pour les liens avec la classe .incident */
}

#incident-dropdown a.incident:hover {
    /* Ne rien définir ici pour annuler complètement le comportement de survol */
}

.topBot {
    background-color: #0FD274;
    border: 3px solid #000000;
    color: white;
}

.incident {
    background-color: #f1e3a4;
    border: 1px solid #000000;
}

.manage {
    background-color: #abf3a1;
    border-radius: 5px;
    border: 1px solid #000000;
}

.manage:hover {
    background-color: #cdf3c8;
}

.detail {
    background-color: #abf3a1;
    border-radius: 5px;
    border: 1px solid #000000;
}

.detail:hover {
    background-color: #cdf3c8;
}

.selected {
    background-color: #f1e3a4;
}

