.info-customer fieldset {
    margin-bottom: 30px; /* Augmentation de la marge inférieure */
    padding-left: 30px; /* Augmentation du remplissage à gauche */
}

.info-customer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement les input-container */
    justify-content: center; /* Centrer verticalement les input-container */
}

.info-customer .white-square {
    width: 700px; /* Taille du carré blanc */
    height: 300px; /* Taille du carré blanc */
    background-color: white; /* Couleur du carré */
    border: 1px solid #ccc; /* Bordure du carré */
    margin-bottom: 20px; /* Espace en bas du carré */
    display: flex; /* Ajout de display flex */
    justify-content: center; /* Centrer le contenu horizontalement */
    align-items: center; /* Centrer le contenu verticalement */
}

.info-customer .line-input {
    display: flex;
    flex-direction: row; /* Modifier la direction en ligne */
    align-items: flex-start; /* Aligner verticalement les éléments au début */
    justify-content: flex-start; /* Aligner horizontalement les éléments au début */
}

.info-customer .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligner verticalement les éléments au début */
    margin-right: 30px; /* Augmentation de la marge à droite pour l'espace entre les éléments */
    margin-bottom: 18px; /* Augmentation de l'espace en bas */
}

label {
    text-align: right; /* Aligner le texte à droite */
}

.info-customer input[type="text"],
.info-customer input[type="tel"],
.info-customer input[type="email"],
.info-customer textarea {
    width: 25vh; /* Augmentation de la largeur des champs d'entrée */
    box-sizing: border-box; /* Inclure les bordures et le remplissage dans la largeur */
    border-radius: 7px; /* Augmentation du rayon des bords */
    border: 2px solid #ccc; /* Augmentation de l'épaisseur de la bordure */
    padding: 10px; /* Augmentation du remplissage intérieur */
}


.info-customer textarea {
    resize: vertical;
}

.info-customer legend {
    font-size: 1.7em; /* Augmentation de la taille de la légende */
}

.info-customer .input-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligner verticalement les éléments */
}

.info-customer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-customer input[type="submit"] {
    margin-top: 30px; /* Augmentation de l'espace entre le formulaire et le bouton */
}

/**************AJOUTER EMPLOYE**************/

.role-selector-container {
    display: flex;
    align-items: center;
}

.role-selector-container select {
    margin-right: 10px;
}
.info-customer select {
    width: 25vh;
    box-sizing: border-box;
    border-radius: 7px;
    border: 2px solid #ccc;
    padding: 10px;
}

